body .App {
  text-align: left; }
  body .App .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white; }
  body .App .login {
    text-align: center; }
  body .App .gnotes .notes .note-list .note-item .remove-action {
    float: right;
    cursor: pointer; }
  body .App .gnotes .logout-action {
    text-align: center;
    margin-top: 20px; }
