body {
	.App {
		text-align: left;
		.App-header {
			background-color: #282c34;
			min-height: 10vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: calc(10px + 2vmin);
			color: white;
		}
		.login {
			text-align: center;
		}
		.gnotes {
			.notes {
				.note-list {
					.note-item {
					  .actions {
					    float: right;
              .remove-action,.edit-action {
                cursor: pointer;
                padding: 6px;
                margin-left: 6px;
              }
					  }
					}
				}
			}
			.logout-action {
				text-align: center;
				margin-top: 20px;
			}
		}
	}
}